<% @conversation_users.each do |conversations_user| %>
    <p>Conversation : <%= conversations_user.conversation_id %> </p>
    <%= link_to "Aller a cette conversation", conversation_path(conversations_user.conversation_id) %>
<% end %>